@charset "utf-8";

/* Product rows for catalog */
.productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}

/* Each product Information in the catalog */
 .productRow .productInfo {
	float: left;
	padding: 3% 2%;
	width: 31.5%;
	height: auto;
}

/* Content holder for products in catalog*/
.productRow .productInfo .productContent {
	position: relative;
	top: -1px;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
	font-size: 1em;
}

.productcontentsub {
	position: relative;
	color: rgba(146,146,146,1.00);
	font-size: 0.65em;
}